@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
  font-family: 'Roboto Flex', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*:focus,
* {
	outline: none;
	border: 0;
}

html,
body {
	overflow: auto !important;
	font-family: 'Open Sans', sans-serif;
}

.custom-scroll {
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #a0a0a0;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }
}
